/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .auth-buttons {
    display: flex;
  }
  
  .auth-buttons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Content */
  .content {
    text-align: center;
    margin-top: 50px;
  }
  